@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); /*Poppins*/

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

  /*Rarity colors*/
  --legendary-color: rgba(214, 138, 16);
  --ultrarare-color: rgba(212, 199, 120);
  --extremelyrare-color: rgba(192, 128, 192);
  --epic-color: rgba(130, 22, 192);
  --rare-color: rgba(79, 119, 194);
  --scarce-color: rgba(151, 180, 235);
  --uncommon-color: rgba(130, 185, 130);
  --common-color: rgba(216, 224, 216);
  --verycommon-color: rgb(133, 133, 133);

/*Light and darkmode colors */
  --lightmode-color: rgba(255, 255, 255, 0.9);
  --darkmode-color: rgba(20, 20, 20, 0.9);
}
/*Navigation menu */ 
.nav-bar { 
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;  
  z-index: 1000; 
}

.light-mode { 
  background: rgba(255, 255, 255, 0.6); 
  background: linear-gradient(0deg, rgba(236, 236, 236, 0.9) 0%, rgba(255, 255, 255, 0.922) 29%); 
}

.dark-mode { 
  background: rgba(27, 27, 27, 0.6); 
  background: linear-gradient(0deg, rgba(10, 10, 10, 0.7) 0%, rgba(39, 37, 37, 0.922) 29%); 
}

.nav-bar img { 
  height: 110px;
  margin-left: 20px;
}

.nav-links-light a { 
  margin: 5px;
  padding: 5px;
  text-shadow: 1px 2px 2px rgb(191, 193, 194);
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
}

.nav-links-dark a { 
  margin: 5px;
  padding: 5px;
  text-shadow: 1px 2px 2px rgb(8, 8, 8);
  font-size: 1.4rem;
  color: rgb(238, 235, 235);
  font-weight: 600;
  text-decoration: none;
}

.nav-links-light a:hover,
.nav-links-dark a:hover { 
  color:rgb(112, 112, 110);
  cursor: pointer;
  transition: .7s ease;
}

.socials-dark,
.socials-light { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-twitter { 
  margin: 20px;
}

.socials-discord { 
  margin-right: 20px;
  margin-top: 5px;
}

.socials-light a { 
  color: black;
}

.socials-dark a { 
  color: rgb(209, 209, 209);
}

.socials-twitter:hover { 
  color:rgb(53, 132, 206);
  transition: .4s ease;
  cursor: pointer;
}

.socials-discord:hover { 
  color:rgb(139, 19, 204);
  transition: .4s ease;
  cursor: pointer;
}

/*Light/dark slider*/
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(5, 5, 5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(238, 234, 234);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c8c8c8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
} 

/*Mobile menu*/ 
.mobile-menu-close { 
  transform: translateX(-1200px);
}

.mobile-menu-open { 
  transform: translateX(0px);
}

.mobile-menu { 
  transition: .6s ease-in-out;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 24, 0.8); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.8) 0%, rgba(54,53,52,0.96) 29%);
}

.mobile-menu-dark { 
  background: rgb(27,27,27);
  background: linear-gradient(347deg, rgba(27,27,27,1) 11%, rgba(38,38,38,1) 25%, rgba(68,68,68,1) 88%); 
}

.mobile-menu-light { 
  background: rgb(182,182,182);
  background: linear-gradient(347deg, rgba(182,182,182,1) 11%, rgba(194,194,194,1) 25%, rgba(255,255,255,1) 88%); 
}

.mobile-menu a { 
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 2rem;
}

.mobile-menu-dark a { 
  color: white;
}

.mobile-menu-light a { 
  color: rgb(0, 0, 0);
}

.hamburger-button { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(12, 11, 11);
  border: none;
  color: rgb(84, 99, 105)
}

.hamburger-button-light { 
  background-color: black;
}

.hamburger-button-dark { 
  background-color: white;
}
.hamburger-button:hover { 
  cursor: pointer;
}

@media only screen and (max-width: 800px) { 
  .nav-bar img { 
    height: 80px;
    margin-left: 10px;
  }

  .socials-twitter { 
    margin: 15px;
  }
  
  .socials-discord { 
    margin-right: 5px;
  }
}

/*Landing page*/
.landing-container {
  width: 100%;
  height: 100vh; 
  background: url("./images/allpetz.jpg");
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media only screen and (max-width: 1394px) { 
  /*Landing page*/
.landing-container {
  width: 100%;
  height: 100vh;
  background: url("./images/bookCover.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  }
}

/*Story Page*/ 
.story-background { 
  background-image: url("./images/egglab.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.story-wrapper {
  width: 100%; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-container { 
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.book-container img { 
  max-width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-border-book { 
  border: 2px solid black;
}

.page-container { 
  justify-content: start;
  
}

.page-title { 
  margin-top: 2rem;
  margin-bottom: 2rem; 
}

.page-paragraph { 
  margin: 10px;
  font-size: 16px;
}

.book-container h1 { 
  font-size: 4rem;
  color:rgb(53, 50, 46)
}

.book-container h2 { 
  text-align: center;
  font-size: 2rem;
  color:rgb(53, 50, 46)
}

.arrow-holder { 
  position: relative;
}

.book-arrow-right { 
  position: absolute;
  right: -150px;
  top: 300px;
}

.book-arrow-left { 
  position: absolute;
  left: -150px;
  top: 300px;
}

.book-arrow { 
  color:rgb(10, 10, 10);
}

.book-arrow:hover { 
  cursor: pointer;
  color: rgb(158, 142, 52);
  transition: 1s ease;
}

.book-page { 
  background-image: url("./images/oldPaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px; 
  width: 450px;  
  border-radius: 16px;
  box-shadow: rgba(243, 240, 240, 0.19) 0px 10px 20px, rgba(219, 214, 214, 0.23) 0px 6px 6px;
}

.page-active { 
  opacity: 1;
  transition: 1s ease-in-out;
}

.page { 
    opacity: 0;
    transition: 1s ease-in-out;
}

.book-cover { 
  background-image: url("./images/bookCover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book-cover-back { 
  background-image: url("./images/bookbackcover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) { 
  .book-page { 
    height: 80%;
    width: 90%; 
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: rgba(243, 240, 240, 0.19) 0px 10px 20px, rgba(219, 214, 214, 0.23) 0px 6px 6px;
  }

  .book-arrow-right { 
    position: absolute;
    right: 40px;
    top: -100px;
    color: rgb(0, 0, 0);
    transition: .5s ease-in-out;
  }
  
  .book-arrow-left { 
    position: absolute;
    left: 40px;
    top: -100px;
    color: rgb(0, 0, 0);
    transition: .5s ease-in-out;
  }
}

/*Game Info Page*/
.game-info-background { 
  background-image: url("./images/mountain-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.game-info-wrapper { 
  width: 100%; 
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info-wrapper h1 { 
  font-size: 6rem;
  color: rgb(0, 0, 0);
}

.game-info-wrapper p { 
  margin: 1rem;
}

.project { 
  opacity: 0; 
  transition: 1s ease-in-out;
}

.project.active { 
  opacity: 1;
  transition: 1s ease-in-out;
}
.attributes-container { 
  position: relative;
  z-index: 0;
  margin-bottom: 5rem;
}
.arrow { 
  position: absolute;
  bottom: -60px;
  color: rgb(224, 190, 75);
  transition: 1s ease-in-out;
}

.arrow:hover { 
  cursor: pointer;
  transition: .4s ease-in-out;
  transform: scale(0.95);
  color: rgb(224, 197, 121);
}

.arrow-left { 
  left: 200px;
}

.arrow-right { 
  right: 200px;
}

.game-intro { 
  margin: 4rem;
  text-align: center;
  max-width: 800px;
  color: white;
}

.attribute-layout{ 
  display: flex;
  justify-content: center;
  margin:4rem;
}

.attribute-layout img{ 
  max-width: 350px;
}

.roadmap-layout { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.roadmap-layout img { 
  max-width: 1000px;
  border-radius: 16px;
  width: 90%;
}

.attribute-info { 
  color: white;
  margin: 0 auto;
}

.attribute-info-roadmap { 
  max-width: 800px;
  margin-bottom: 3rem;
}

.attribute-info h2 { 
  color: rgb(231, 154, 30);
  font-size: 2.5rem;
  margin: 1rem auto;
}

.attribute-layout div { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 50px;
}

.attribute-layout img { 
  width: 600px;
}

table { 
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(216, 208, 208, 0.3);
  border-spacing: 0;
  border-collapse: collapse;
}

.table-header th{ 
  background-color: black;
  color: white;
  padding: 20px;
}

.table-very-common { 
  background-color: var(--verycommon-color);
}
.table-common { 
  background-color: var(--common-color);
}
.table-uncommon { 
  background-color: var(--uncommon-color);
}
.table-scarce { 
  background-color: var(--scarce-color);
}
.table-rare { 
  background-color: var(--rare-color);
}
.table-epic { 
  background-color: var(--epic-color);
}
.table-extremely-rare { 
  background-color: var(--extremelyrare-color);
}
.table-ultra-rare { 
  background-color: var(--ultrarare-color);
}
.table-legendary{ 
  background-color: var(--legendary-color);
}

.table-even { 
  background-color: rgba(94, 144, 156);
}

.table-odd { 
  background-color: rgba(91, 223, 172);
}

td { 
  padding: 8px;
  text-align: center;
}

.petz-row { 
  box-shadow: -5px -5px 30px 5px rgb(209, 202, 169), 5px 5px 30px 5px rgb(167, 233, 194);
  width: 100%;
  display: flex;
  justify-content: center;
}

.petz-row img { 
  max-height: 200px;
  width: 10%;
  max-width: 200px;
}

.egg-row { 
  margin-bottom: 10rem;
  width: 100%;
}

.egg-row img{ 
  max-height: 200px;
}

.token-row img{
  max-height: 200px;
}

@media only screen and (max-width: 1194px) { 
  .attribute-layout { 
    flex-direction: column; 
  }
  .game-info-wrapper h1 { 
    font-size: 4rem;
    text-align: center;
  }
  .attribute-info h2 { 
    font-size: 1.6rem;
    text-align: center;
  }
  table { 
    margin: 0 auto;
  }
  .petz-row img { 
    max-height: 200px;
    width: 10%;
  }
  .egg-row img{ 
    max-height: 100px;
  }
}

@media only screen and (max-width: 564px) { 
  .arrow-left { 
    left: 40px;
  }
  
  .arrow-right { 
    right: 40px;
  }
  .table-header th{ 
    padding: 7px;
    font-size: 12px;
  }
  td { 
    padding: 2px;
    font-size: 12px;
  }
  .attribute-layout img { 
    width: 250px;
  }
}

/* Metrics Router page */ 
.all-metrics-container { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.all-metrics-container-lightmode { 
  background-color: var(--lightmode-color);
}

.all-metrics-container-darkmode { 
  background-color: var(--darkmode-color);
}

.petz-carousel-background { 
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 0;
  width: 1000px;
  height: 1000px;
}

.petz-background-carousel-first { 
  background-image: url("./images/petzImages/carpetz3.png");
  top: -120px;
  left: -400px;
}

.petz-background-carousel-second { 
  background-image: url("./images/petzImages/carpetz2.png");
  bottom: -300px;
  left: -50px;
}

.petz-background-carousel-third { 
  background-image: url("./images/petzImages/carpetz4.png");
  bottom: -350px;
  right: 100px;
}

.petz-background-carousel-fourth { 
  background-image: url("./images/petzImages/carImageone.png");
  top: -200px;
  right: -400px;
}

.metrics-box { 
  position: absolute;
  width: 600px;
  height: 400px;
  border-radius: 20px;
}

.metrics-box-dark { 
  background: rgb(32,30,30);
  background: linear-gradient(90deg, rgba(32,30,30,0.9626051104035365) 0%, rgba(33,33,36,1) 49%, rgb(24, 24, 24) 100%); 
  border: 1px solid rgb(212, 210, 210);
  color: rgb(255, 255, 255); 
  box-shadow: 1px 1px 10px 1px rgb(243, 240, 240);
}

.metrics-box-dark:hover { 
  background: rgb(58, 57, 57);
  background: linear-gradient(90deg, rgba(68, 67, 67, 0.963) 0%, rgb(70, 70, 71) 49%, rgb(73, 73, 73)100%); 
  border: 1px solid rgb(251, 251, 251);
  color: white; 
  box-shadow: 1px 1px 15px 2px rgb(243, 240, 240);
}

.metrics-box-light { 
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.9626051104035365) 0%, rgb(250, 250, 250) 49%, rgba(242,242,242,1) 100%); 
  border: 1px solid black;
  color: black;
  box-shadow: 1px 1px 10px 1px rgba(10, 10, 10, 1);
}

.metrics-box-light:hover { 
  background: rgb(199,199,199);
  background: linear-gradient(0deg, rgba(199,199,199,1) 0%, rgba(255,255,255,1) 100%); 
  border: 1px solid black;
  color: black;
  box-shadow: 1px 1px 15px 2px rgba(10, 10, 10, 1);
}

.metrics-box h1 { 
  font-size: 2rem;
  margin-bottom: 1rem;
}

.metrics-box-light h1,
.metrics-box-light p { 
color: black;
}

.metrics-box-dark h1,
.metrics-box-dark p { 
color: white;
}

.carousel-buttons { 
  margin-top: 50px;
  z-index: 10;
}

.carousel-button { 
  margin: 20px;
}

.carousel-button:hover {
  cursor: pointer;
  transition: .5s ease-in-out; 
  color: var(--legendary-color);
}

.scene {
  width: 600px;
  height: 400px;
  position: relative;
  perspective: 1200px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-288px) rotateY(-120deg);
  transition: 1s ease-in-out;
}

.click-carousel-instructions-light{ 
  color: var(--rare-color);
  z-index: 10;
}

.click-carousel-instructions-dark{
  color: var(--ultrarare-color);
  z-index: 10;
}

.metrics-box:nth-child(1) { transform: rotateY(120deg) translateZ(288px);}
.metrics-box:nth-child(2) { transform: rotateY(240deg) translateZ(288px);}
.metrics-box:nth-child(3) { transform: rotateY(360deg) translateZ(288px);}


@media only screen and (max-width: 1700px) { 
  .petz-carousel-background {  
    width: 800px;
    height: 800px;
  }

  .petz-background-carousel-first { 
    top: -20px;
    left: -300px;
  }
  
  .petz-background-carousel-second { 
    bottom: -250px;
    left: -200px;
  }
  
  .petz-background-carousel-third { 
    bottom: -300px;
    right: -200px;
  }
  
  .petz-background-carousel-fourth { 
    top: -100px;
    right: -300px;
  }
}

@media only screen and (max-width: 900px) { 
  .petz-carousel-background {  
    width: 400px;
    height: 400px;
  }

  .petz-background-carousel-first { 
    top: 20px;
    left: -100px;
  }
  
  .petz-background-carousel-second { 
    bottom: 120px;
    left: -80px;
  }
  
  .petz-background-carousel-third { 
    bottom: -100px;
    right: -50px;
  }
  
  .petz-background-carousel-fourth { 
    top: 50px;
    right: -80px;
  }
  .metrics-box { 
    width: 300px;
    height: 450px;
  }
  .scene {
    width: 300px;
    height: 450px;
    position: relative;
    perspective: 1000px;
  }
  .metrics-box h1 { 
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .metrics-box p { 
    font-size: 14px;
    text-align: center;
  }
  .metrics-box span { 
    text-align: center;
    margin-top: 10px;
  }
  .metrics-box img { 
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 640px) { 
  .petz-carousel-background {  
    width: 300px;
    height: 300px;
  }

  .petz-background-carousel-first { 
    top: 20px;
    left: -100px;
  }
  
  .petz-background-carousel-second { 
    display: none;
  }
  
  .petz-background-carousel-third { 
    bottom: -100px;
    right: -50px;
  }
  
  .petz-background-carousel-fourth { 
    display: none;
  }

  .metrics-box { 
    width: 250px;
    height: 450px;
    
  }
  .scene {
    width: 250px;
    height: 450px;
    margin-top: 25%;
  }
  .metrics-box p { 
    font-size: 12px;
  }

  .metrics-box img { 
    width: 100px;
    height: 100px;
  }
}

/*Petz metrics carousel page */
.all-metrics-box { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  z-index: 10;
}

.all-metrics-box-pet { 
  height: 150px;
  width: 150px;
}

/* Rarity Metrics page */ 
.metric-data-title { 
  color: white;
  font-size: 2rem;
  text-align: center;
}

.petz-metric-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("./images/bookCover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.petz-metric-info-box { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 80%;
  max-width: 1500px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 20px;
  color: white;
}
.petz-metric-info-box p { 
  text-align: center;
}

.petz-chart-data{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.petz-info-box-right,
.petz-info-box-left { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 50%;
  margin: 10px;
  border-radius: 20px;
  background-color: rgba(16, 17, 17, 0.80); 
}

.petz-info-egg-container { 
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.petz-info-egg {
  max-width: 140px; 
  width: 20%;
}

.egg-type-list-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.egg-type-list-container ul { 
  list-style: circle;
}

.petz-info-backgrounds { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.petz-info-background { 
  max-width: 140px; 
  width: 20%;
  margin: 5px;
}

.petz-info-emblem { 
  width: 20%;
}

.egg-type-container { 
  margin: 10px;
}

.petz-info-box-center {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px;
  border-radius: 20px;
  background-color: rgba(16, 17, 17, 0.80); 
}

@media only screen and (max-width: 1370px) { 
  .petz-chart-data{ 
    flex-direction: column;
  }
  .petz-info-box-left,
  .petz-info-box-right { 
    width: 90%; 
  }
}
@media only screen and (max-width: 752px) { 
  .petz-metric-info-box { 
   width: 95%;
  }
  .metric-data-title { 
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 532px) { 
  .metric-data-title { 
    font-size: 1.5rem;
  }
  .metric-data-title { 
    font-size: 1.2rem;
  }
  .petz-metric-info-box p { 
    font-size: 14px;
    margin: 5px;
  }
  .egg-type-list-container li { 
    font-size: 14px;
  }
}

/* Petz Metrics page */ 
.metrics-background { 
  background-image: url("./images/egglab.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.metrics-wrapper { 
  width: 100%; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petz-type-container { 
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.petz-type {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 250px;
  height: 150px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px 2px rgba(10, 10, 10, 0.7);
  margin: 50px;
}

.link-text { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.emblem { 
  position: absolute; 
  max-width: 100px;
  top:-50px;
  right: -40px;
}

.metric-pet { 
  position: absolute; 
  max-width: 150px;
  top:-100px;
  left: -60px;
}

.petz-type h3 { 
  font-size: 3rem;
}

.petz-type p { 
  color: black;
  font-size: 1.3rem;
}

.petz-type:hover { 
  cursor: pointer;
  transform: scale(1.10);
  box-shadow: 0px 0px 20px 10px rgb(160, 159, 159);
  transition: .6s ease-in-out;
}

.fire { 
  background: rgb(221,55,55);
  background: radial-gradient(circle, rgba(221,55,55,1) 0%, rgba(236,103,62,1) 66%, rgba(252,218,70,1) 100%); 
}

.water { 
  background: rgb(55,103,221);
  background: radial-gradient(circle, rgba(55,103,221,1) 0%, rgba(62,166,236,1) 66%, rgba(70,252,225,1) 100%); 
}

.electric { 
  background: rgb(218,199,42);
  background: radial-gradient(circle, rgba(218,199,42,1) 0%, rgba(250,247,71,1) 66%, rgba(255,246,136,1) 100%); 
}

.grass { 
  background: rgb(23,119,31);
  background: radial-gradient(circle, rgba(23,119,31,1) 0%, rgba(70,163,83,1) 66%, rgba(74,186,87,1) 100%); 
}

.ice { 
  background: rgb(24,232,220);
  background: radial-gradient(circle, rgba(24,232,220,1) 0%, rgba(104,181,191,1) 66%, rgba(116,217,204,1) 100%); 
}

.combat { 
  background: rgb(203,116,44);
  background: radial-gradient(circle, rgba(203,116,44,1) 17%, rgba(201,134,94,1) 63%, rgba(222,179,131,1) 100%);  
}

.poison { 
  background: rgb(187,150,213);
  background: radial-gradient(circle, rgba(187,150,213,1) 0%, rgba(158,61,186,1) 66%, rgba(158,114,175,1) 100%);  
}

.earth { 
  background: rgb(153,102,53);
  background: radial-gradient(circle, rgba(153,102,53,1) 0%, rgba(194,135,63,1) 66%, rgba(163,128,95,1) 100%); 
}

.flying { 
  background: rgb(78,209,155);
  background: radial-gradient(circle, rgba(78,209,155,1) 0%, rgba(89,200,177,1) 66%, rgba(64,175,154,1) 100%); 
}

.psychic { 
   background: rgb(223,15,254);
background: radial-gradient(circle, rgba(223,15,254,1) 0%, rgba(236,29,204,1) 17%, rgba(189,68,133,1) 63%, rgba(157,31,115,1) 100%);  
}

.insect { 
  background: rgb(71,215,12);
  background: radial-gradient(circle, rgba(71,215,12,1) 0%, rgba(124,186,61,1) 66%, rgba(144,186,101,1) 100%); 
}

.spirit { 
  background: rgb(71,35,97);
  background: radial-gradient(circle, rgba(71,35,97,1) 0%, rgba(68,22,82,1) 66%, rgba(62,3,85,1) 100%); 
}

.drake { 
  background: rgb(168,15,254);
  background: radial-gradient(circle, rgba(168,15,254,1) 0%, rgba(166,29,236,1) 17%, rgba(161,68,189,1) 63%, rgba(150,31,157,1) 100%);  
}

.shadow { 
  color: white;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 17%, rgba(37,29,38,1) 63%, rgba(74,69,72,1) 100%);  
}

.metal { 
  background: rgb(110,105,105);
  background: radial-gradient(circle, rgba(110,105,105,1) 17%, rgba(126,125,126,1) 63%, rgba(140,140,140,1) 100%); 
}

.fae { 
  background: rgb(231,111,191);
  background: radial-gradient(circle, rgba(231,111,191,1) 17%, rgba(224,110,178,1) 63%, rgba(207,101,178,1) 100%); 
}

.fae { 
  background: rgb(231,111,191);
  background: radial-gradient(circle, rgba(231,111,191,1) 17%, rgba(224,110,178,1) 63%, rgba(207,101,178,1) 100%); 
}

.lava { 
  background: rgb(184,54,54);
  background: radial-gradient(circle, rgba(184,54,54,1) 17%, rgba(184,36,72,1) 63%, rgba(177,57,67,1) 100%); 
}

.sound { 
  background: rgb(140,217,207);
  background: radial-gradient(circle, rgba(140,217,207,1) 17%, rgba(146,227,222,1) 63%, rgba(186,217,213,1) 100%); 
}

/* Individual type metric pages */
.metric-type-page-wrapper { 
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-emblem {
  position: absolute;
  max-width: 400px;
  top: -230px;
  right: -170px;
}

.background-pet { 
  position: absolute;
  max-width: 400px; 
  top: -260px; 
  left: 10px;
}

.metric-radar-chart { 
  max-width: 700px;
}

.metric-container { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100%;
  width: 90%;
  max-width: 1500px;
  background-color: white;
  border: 5px solid black;
}

.metric-container h3 { 
  color: black;
  font-size: 1.5rem;
}

.metric-container img { 
  width: 90%;
  margin: 5px
}

.metric-type-overlay { 
  width: 100vw;
  height: 100%; 
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.metric-type-overlay h1 { 
  font-size: 6rem;
  color: white;
}

.metric-back-button { 
  position: absolute;
  top: 8rem;
  left: 2rem;
  background-color: black;
  border: 2px solid white;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1176px) { 
  .metric-container { 
    flex-direction: column;
    padding: 5px;
  }
  .metric-container div { 
    margin: 2rem;
  }
  .background-emblem {
    position: absolute;
    max-width: 250px;
    top: -160px;
    right: -100px;
  }
  .background-pet { 
    position: absolute;
    max-width: 250px; 
    top: -160px; 
    left: -100px;
  }
  .metric-type-overlay h1 { 
    font-size: 4rem;
  }
  .metric-container h3 { 
    text-align: center;
  }
  .metric-back-button { 
    padding: 10px;
    transition: .4s ease-in-out;
  }
}

@media only screen and (max-width: 630px) { 
  .metric-type-overlay h1 { 
    font-size: 2.9rem;
    margin-bottom: 3rem;
  }
  .background-emblem {
    position: absolute;
    max-width: 150px;
    top: -90px;
    right: -50px;
  }
  .background-pet { 
    position: absolute;
    max-width: 180px; 
    top: -110px; 
    left: -60px;
  }
  .metric-container img { 
    width: 100%;
    margin: 0px;
  }
}

.metric-back-button:hover { 
  background-color: rgb(46, 44, 44);
}

/* Updates page */ 
.updates-background { 
  position: relative;
  background-image: url("./images/skyBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#cloud-updates { 
  position: absolute;
  top: 900px;
  left: 0px;
  width: 400px;
}

.update-page-wrapper {
  width: 100%; 
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update-container { 
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1000px;
  background: rgba(0, 0, 0, 0.8); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.8) 0%, rgba(54,53,52,0.8223472472555768) 29%);
  border-radius: 16px;
  padding: 10px; 
  color: rgb(255, 255, 255);
  margin-bottom: 4rem;
  box-shadow: rgba(224, 221, 221, 0.733) 0px 1px 2px, rgba(189, 185, 185, 0.07) 0px 2px 4px, 
              rgba(238, 234, 234, 0.07) 0px 4px 8px, rgba(235, 231, 231, 0.07) 0px 8px 16px, 
              rgba(224, 220, 220, 0.07) 0px 16px 32px, rgba(216, 211, 211, 0.07) 0px 32px 64px;
}

.update-petz-image { 
  position: absolute;
  max-width: 200px;
  right: 0;
  top: -80px;
}

.update-container h2 { 
  color: rgb(137, 200, 137);
  margin-bottom: 20px;
}

.emph { 
  color: rgb(137, 200, 137);
}

.list-updates-container { 
  display: flex; 
  justify-content: space-between;
  margin-top: 1rem;
  border-top: 2px solid rgb(111, 117, 111);
}

.list-update { 
  max-width: 350px;
  padding: 15px;
}

.list-update h3 { 
  color: rgba(119, 184, 245, 0.9);
}

.list-update a { 
  color: rgba(246, 219, 39, 0.6);
}

.updates-title { 
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 900;
}

@media only screen and (max-width: 768px) { 
  .update-container { 
    flex-direction: column;
    width: 90%;
  }
  .list-updates-container { 
    flex-wrap: wrap;
  }
  .update-petz-image { 
    position: absolute;
    max-width: 150px;
    right: -25px;
    top: -70px;
  }
}
/* Team page */ 
.team-info-background { 
  background-image: url("./images/team-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.team-wrapper { 
  width: 100%; 
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-member-container { 
  display: flex;
  max-width: 1000px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);
  border-radius: 16px;
  padding: 10px; 
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  box-shadow: rgba(224, 221, 221, 0.733) 0px 1px 2px, rgba(189, 185, 185, 0.07) 0px 2px 4px, 
              rgba(238, 234, 234, 0.07) 0px 4px 8px, rgba(235, 231, 231, 0.07) 0px 8px 16px, 
              rgba(224, 220, 220, 0.07) 0px 16px 32px, rgba(216, 211, 211, 0.07) 0px 32px 64px;
}

.team-member-container img { 
  border-radius: 16px;
}

.intro-text {
  max-width: 600px;
  font-weight: 800;
  margin: 2rem;
  color: rgb(0, 0, 0);
}

.team-member-text { 
  margin: 20px; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-member-image { 
  position: relative;
}

.team-member-pet { 
  max-width: 170px;
  position: absolute;
  left: -40px;
  bottom: 10px;
}

@media only screen and (max-width: 960px) { 
  .team-wrapper h1 { 
    font-size: 50px;
    text-align: center;
  }
  .team-member-container { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) { 
  .team-member-container img { 
    width: 80%;
  }
  .team-member-pet { 
    max-width: 140px;
    position: absolute;
    left: -30px;
    bottom: 10px;
  }
}

/*Collection Page*/ 
.petz-searchbox-container { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 180px;
}

.petz-container { 
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.petz-container-background { 
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 0;
  width: 1200px;
  height: 1200px;
}

.petz-background-first {
  background-image: url("./images/petzImages/collectionbackgroundTwo.png");
  top: 0px;
  left: -500px;
}

.petz-background-second {
  background-image: url("./images/petzImages/collectionbackgroundFour.png");
  bottom: -200px;
  right: -400px;
}

.petz-background-third {
  background-image: url("./images/petzImages/shark.png");
  top: -300px;
  right: -400px;
}

.petz-background-fourth {
  background-image: url("./images/petzImages/collectionbackgroundOne.png");
  bottom: -500px;
  left: -400px;
}

/* Search input bar top of page */
.searchInputs { 
  position: relative;
  display: flex;
}

.searchInputs input {
  background-color: rgb(100, 100, 100);
  border: 0; 
  font-size: 19px;
  padding: 10px;
  height: 40px;
  color: white;
}

.search-icon { 
  position: absolute;
  right: 5px;
  height: 40px;
  width: 35px;
  padding-right: 10px;
  color: white;
}

.petz-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  top: 100px;
  z-index: 100;
}

#petz-search-button { 
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: black;
  border: 2px solid white;
  border-left: none;
  padding: 20px 50px;
  padding-left: 100px;
  border-radius: 0px 30px 30px 0px;
  text-decoration: none;
  color: white;
  z-index: 10;
}

#petz-search-button:hover{ 
  cursor: pointer;
  background-color: rgb(46, 44, 44);
}

.search-menu-active { 
  position: absolute;
  left: 0;
  top: 6rem;
  width: 220px; 
  height: 70rem; /*This needs to be changed*/
  background-color: rgb(0, 0, 0);
  transition: .5s ease-in-out;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.search-menu-hidden { 
  transform: translateX(-200px);
  position: absolute;
  left: 0;
  top: 5rem;
  width: 0px; 
  height: 0vh;
  background-color: rgb(0, 0, 0);
  transition: .5s ease-in-out;
} 

.check-for-type { 
  display: flex;
  flex-direction: column;
}

.check-for-type h3{
  margin-top: 1rem;
  color: var(--legendary-color)
}

.type-box { 
  display: flex;
  justify-content: space-between;
}

.type-box input { 
  margin-right: 30px;
}

.petz-wrapper { 
  display: flex;
  max-width: 100%; 
  height: 100%;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.petz-modal-active { 
  position: absolute;
  display: flex;
  top: 250px;
  border: 1px solid rgb(109, 106, 106); 
  width: 80%; 
  height: 800px;
  background: rgb(32,30,30);
  background: linear-gradient(90deg, rgba(32,30,30,0.9626051104035365) 0%, rgba(33,33,36,1) 49%, rgba(74,75,75,1) 100%); 
  border-radius: 20px;
  z-index: 1000;
}

.petz-modal-hidden {
  display: none;
}

.modal-overlay-background-active {
  position: absolute; 
  background-color: rgba(10, 10, 10, 0.85);
  width: 100%; 
  height: 100%; 
  z-index: 50;
  transition: 0.5s ease-in-out;
 }

 .modal-overlay-background-hidden { 
  background-color: rgba(10, 10, 10, 0.00); 
 }

 .modal-info { 
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
 }

.modal-info-box { 
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  box-shadow: rgba(146, 144, 144, 0.4) 0px 2px 4px, rgba(65, 63, 63, 0.3) 0px 7px 13px -3px, rgba(73, 72, 72, 0.2) 0px -3px 0px inset;
}

/*modal petz types*/ 
.legendary { 
  color: var(--legendary-color);
}

.ultrarare { 
  color: var(--ultrarare-color);
}

.extremelyrare { 
  color: var(--extremelyrare-color);
}

.epic { 
  color: var(--epic-color); 
}

.rare { 
  color: var(--rare-color); 
}

.scarce {
  color: var(--extremelyrare-color); 
}

.uncommen { 
  color: var(--uncommon-color); 
}

.common { 
  color: var(--common-color); 
}

.verycommon { 
  color: var(--verycommon-color); 
}

.modal-info h2 { 
  color: white;
  font-size: 30px;
}

.info-box-pet { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box-pet label { 
  display: block;
}

.info-box-stats,
.info-box-about { 
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: 80%; 
  padding: 10px;
}

.info-box-stats h2,
.info-box-about h2 { 
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid rgb(105, 192, 105);
}

.about-inner span { 
  display: block;
}

.about-inner { 
  margin: 5px;
}

.about-span-label { 
  color: rgb(105, 192, 105);
}

.stat-info { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    
}
  
meter::-webkit-meter-bar {
    background: rgb(116, 185, 202);
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    border-radius: 10px;
 
}

.rarity-meter { 
  margin-left: 35px;
}

.close-modal { 
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  background-color: rgb(250, 74, 74);
  border: 2px solid black;
}

.close-modal:hover { 
  background-color: rgb(235, 148, 148);
  cursor: pointer;
  border: white;
  color: white
}

.petz-wrapper-light { 
  background-color: var(--lightmode-color);
}

.petz-wrapper-dark { 
  background-color: var(--darkmode-color);
}

.petz-inner-wrapper { 
  width: 70%;
  max-height: 100vh;
  display: flex;
  padding-top: 20px;
  padding-bottom: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  z-index: 10;
}

.pet-card{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8); 
  width: 250px;
  height: 350px;
  margin: 5px;
  border-radius: 16px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.pet-card-light { 
  box-shadow: 1px 1px 1px 1px rgb(112, 111, 111);
}

.pet-card-dark { 
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.pet-card:hover{
  transform:scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.pet-card img { 
  width: 180px;
}

.Fire { 
  border: 3px solid rgb(233, 176, 69); 
}

.Water { 
 border: 3px solid rgb(91, 91, 167); 
}

.Electric { 
 border: 3px solid rgb(192, 192, 72);
}

.Grass { 
 border: 3px solid rgb(57, 90, 57);
}

.Ice { 
 border: 3px solid rgb(24,232,220);
}

.Combat { 
 border: 3px solid rgb(203,116,44);
}

.Poison { 
 border: 3px solid rgb(187,150,213);
}

.Earth { 
 border: 3px solid rgb(131, 104, 80);
}

.Flying { 
 border: 3px solid rgb(78,209,155);
}

.Psychic { 
border: 3px solid rgb(223,15,254);
}

.Insect { 
border: 3px solid rgb(71,215,12);
}

.Spirit { 
border: 3px solid rgb(71,35,97);
}

.Drake { 
border: 3px solid rgb(140, 46, 194);
}

.Shadow { 
 border:3px solid rgb(0, 0, 0);
}

.Metal { 
border: 3px solid rgb(110,105,105);
}

.Fae { 
border: 3px solid rgb(231,111,191);
}

.Lava { 
border: 3px solid rgb(184,54,54);
}

.Sound { 
border: 3px solid rgb(129, 151, 148);
}

@media only screen and (max-width: 1500px) { 
  
.petz-container-background { 
  width: 800px;
  height: 800px;
}
  .petz-background-first {
    top: 0px;
    left: -200px;
  }
  
  .petz-background-second {
    bottom: 20px;
    right: -200px;
  }
  
  .petz-background-third {
    display: none;
  }
  
  .petz-background-fourth {
    display: none;
  }

  .petz-modal-active { 
    width: 90%; 
    height: 1000px;
    overflow-y: scroll;
  }
  .modal-info { 
    margin-top: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
  }

  .info-box-stats,
  .info-box-about { 
    width: 100%; 
    height: 100%; 
  }
 
  .modal-info-box { 
    min-height: 550px;
    height: 100%;
    width: 95%;
  }
}

@media only screen and (max-width: 1354px) { 
  .search-menu-active { 
    width: 100%; 
    height: 70rem; /*This needs to be changed*/
  }
  .check-for-type { 
    max-width: 200px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 340px) { 
  .modal-info h2 { 
    color: white;
    font-size: 25px;
  }
  .modal-image {
    width: 80%;
  }
  .petz-inner-wrapper { 
    width: 100%;
  }
}

/*Stake Pool*/ 
.stake-pool-background { 
  background-image: url("./images/stakepoolbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stake-pool-wrapper { 
  width: 100%; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petz-pool-api-info { 

  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.api-items-indicator { 
  display: flex;
  color:rgb(90, 159, 199);
  min-width: 200px;
  font-weight: 800;
}

.pool-id { 
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.stake-pool-info-box { 
  display: flex;
  margin: 20px;
  width: 90%;
  max-width: 1000px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);
  border-radius: 16px;
  padding: 10px; 
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  box-shadow: rgba(224, 221, 221, 0.733) 0px 1px 2px, rgba(189, 185, 185, 0.07) 0px 2px 4px,
              rgba(238, 234, 234, 0.07) 0px 4px 8px, rgba(235, 231, 231, 0.07) 0px 8px 16px,
              rgba(224, 220, 220, 0.07) 0px 16px 32px, rgba(216, 211, 211, 0.07) 0px 32px 64px;
}

.stake-pool-info-box h2 { 
  margin-bottom: 2rem;
  color:rgb(99, 200, 141);
}

.stake-pool-metrics { 
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.stake-pool-metrics a {
  color:rgb(65, 155, 216);
  margin-top: 1rem;
}

.stake-pool-metrics img { 
  max-width: 400px;
  margin: 10px;
}

.stake-pool-metrics a:hover {
  cursor: pointer;
}

.staking-percentage { 
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 878px) { 
  .stake-pool-info-box { 
    flex-direction: column;
  }
  .petz-pool-api-info { 
   justify-content: center;
   align-items: center;
   margin-top: 20px;
  }
  .api-items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media only screen and (max-width: 728px) { 

  .api-items-indicator { 
    width: 100%;
    min-width: 200px;
  }
}

/*Footer */ 
.footer { 
  position: relative;
  bottom: 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 1000;
}

.footer img { 
  height: 80px;
}

.credits { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.credits-light { 
  color: black;
}

.credits-dark { 
  color: white; 
}

@media only screen and (max-width: 400px) { 
 
  .credits p{ 
    font-size: 10px;
  }
  .footer img { 
    height: 60px;
  }
}

/* Loading screen */
.loading-screen { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px; 
  z-index: 20; 
  transition: 6s ease-in-out;
}

.loading-screen-light { 
  color: black;
}

.loading-screen-dark {
  color: white
}

.egg-div img {
  max-width: 200px;
}

.egg-hatched img { 
  max-width: 200px;
}

.loading-span { 
  font-size: 1.2rem;
}

.welcome-span {
    font-size: 2rem;
}

@keyframes shake {
  0% { transform: rotate(0deg) ; }
  5% { transform: rotate(-7deg) ; }
  10% { transform: rotate(0deg); }
  15% { transform: rotate(6deg); }
  20% { transform: rotate(2deg); }
  25% { transform: rotate(7deg); }
  30% { transform: rotate(-3deg); }
  40% { transform: rotate(2deg); }
  50% { transform: rotate(-6deg); }
  60% { transform: rotate(7deg); }
  70% { transform: rotate(-8deg); }
  80% { transform: rotate(7deg); }
  90% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.egg-wobble { 
  animation: shake 7s ease-in-out;
}


