@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Gluten', cursive;
}


/*Navigation menu */ 
.nav-bar { 
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.7) 0%, rgba(54,53,52,0.9223472472555768) 29%);    

}

.nav-bar img { 
  height: 150px;
  margin-left: 20px;
}

.nav-links a { 
  margin: 5px;
  padding: 5px;
  text-shadow: 1px 2px 1px black;
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.nav-links a:hover { 
  color:rgb(81, 82, 81);
  cursor: pointer;
  transition: .7s ease;
}

.socials-twitter { 
  margin: 20px;
}

.socials a { 
  color: black;
}

.socials-twitter:hover { 
  color:rgb(53, 132, 206);
  transition: .4s ease;
  cursor: pointer;
}

/*Landing page*/

.landing-page-wrapper { 
  width: 100%;
  min-height: 100vh; 
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-body { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shadow-box { 
  box-shadow: 2px 2px 2px black;
  height: 2px;
}

.body-grass { 
  background-image: url(./images/grass.jpg);
}

.body-fire { 
  background-image: url(./images/lava.jpg);
}

.body-ice { 
  background-image: url(./images/ice.jpg);
}

.body-lightning { 
  background-image: url(./images/storm.jpg);
}

.body-water { 
  background-image: url(./images/water.jpg);
}

.body-dojo { 
  background-image: url(./images/dojo.jpg);
}

.landing-pet img { 
  width: 800px; 
}

.landing-pet { 
  display: flex;
  flex-direction: row-reverse;
}

.landing-text-balloon { 
  background-color: rgba(250, 249, 249, 0.6); 
  border-radius: 16px 16px 16px 16px;
  box-shadow: 6px 6px rgba(22, 22, 22, 0.3);
  padding: 25px;
}

.landing-title { 
  font-size: 4rem;
}

.landing-text { 
  max-width: 300px;
  font-size: 1.5rem;
}

/*Story Time Page*/ 
.story-background { 
  background-image: url("./images/egglab.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.story-wrapper { 
  width: 100%; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-container { 
  width: 100%;
  height: 100%;
  background-color: rgba(17, 16, 16, 0.3);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-container img { 
  max-width: 90%;
  margin-top: 2rem;
}

.image-border-book { 
  border: 2px solid black;
}

.page-container { 
  justify-content: start;
}

.page-title { 
  margin-top: 2rem;
  margin-bottom: 2rem; 
}

.page-paragraph { 
  margin: 10px;
}

.book-container h1 { 
  font-size: 4rem;
  color:rgb(53, 50, 46)
}

.book-container h2 { 
  font-size: 2rem;
  color:rgb(53, 50, 46)
}

.book-arrow { 
  margin: 4rem;
  color:rgb(99, 200, 141)
}

.book-arrow:hover { 
  cursor: pointer;
  color: rgb(158, 142, 52);
  transition: 1s ease;
}

.book-page { 
  background-image: url("./images/oldPaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px; 
  width: 450px;  
  border-radius: 16px;
  box-shadow: rgba(243, 240, 240, 0.19) 0px 10px 20px, rgba(219, 214, 214, 0.23) 0px 6px 6px;
}

.page-active { 
  opacity: 1;
  transition: 1s ease-in-out;
}

.page { 
    opacity: 0;
    transition: 1s ease-in-out;
}

.book-cover { 
  background-image: url("./images/bookCover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*Game Info Page*/

.game-info-background { 
  background-image: url("./images/mountain-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.game-info-wrapper { 
  width: 100vw; 
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info-wrapper h1 { 
  font-size: 6rem;
  color: white;
}

.project { 
  opacity: 0; 
  transition: 1s ease-in-out;
}

.project.active { 
  opacity: 1;
  transition: 1s ease-in-out;
}
.attributes-container { 
  position: relative;
  z-index: 0;
  margin-bottom: 7rem;
}
.arrow { 
  position: absolute;
  bottom: -60px;
  color: rgba(214, 138, 16, 0.6);
}

.arrow:hover { 
  cursor: pointer;
  transition: .4s ease-in-out;
  transform: scale(0.95);
  color: rgba(250, 194, 104, 0.6);
}

.arrow-left { 
  left: 200px;
}

.arrow-right { 
  right: 200px;
}

.game-intro { 
  margin: 4rem;
  text-align: center;
  max-width: 800px;
  color: white;
}

.attribute-layout{ 
  display: flex;
  justify-content: center;
}

.attribute-layout img{ 
  max-width: 350px;
}

.roadmap-layout { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.roadmap-layout img { 
  max-width: 1000px;
  border-radius: 16px;
}

.attribute-info { 
  color: white;
}

.attribute-info-roadmap { 
  max-width: 800px;
  margin-bottom: 3rem;
}

.attribute-info h2 { 
  color: rgba(223, 160, 59, 0.6);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.attribute-layout div { 
  max-width: 600px;
  margin: 50px;
}

table { 
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(32,32,32, .3);
  border-spacing: 0;
  border-collapse: collapse;
}

.table-header th{ 
  background-color: black;
  color: white;
  padding: 20px;
}

.table-very-common { 
  background-color: rgba(162, 167, 157, 0.6);
}
.table-common { 
  background-color: rgba(216, 224, 216, 0.6);
}
.table-uncommon { 
  background-color: rgba(130, 185, 130, 0.6);
}
.table-scarce { 
  background-color: rgba(151, 180, 235, 0.6);
}
.table-rare { 
  background-color: rgba(79, 119, 194, 0.6);
}
.table-epic { 
  background-color: rgba(130, 22, 192, 0.6);
}
.table-extremely-rare { 
  background-color: rgba(192, 128, 192, 0.6);
}
.table-ultra-rare { 
  background-color: rgba(212, 199, 120, 0.6);
}
.table-legendary{ 
  background-color: rgba(214, 138, 16, 0.6);
}

.table-even { 
  background-color: rgba(94, 144, 156, 0.6);
}

.table-odd { 
  background-color: rgba(91, 223, 172, 0.6);
}

td { 
  padding: 8px;
  text-align: center;
}

.petz-row { 
  box-shadow: -5px -5px 30px 5px rgb(204, 181, 78), 5px 5px 30px 5px rgb(99, 200, 141);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4rem 0  4rem 0;
}

.petz-row img { 
  max-height: 200px;
}

.egg-row { 
  margin-bottom: 10rem;
}

.egg-row img{ 
  max-height: 100px;
}

.token-row img{
  max-height: 150px;
}

/* Metrics page */ 
.metrics-background { 
  background-image: url("./images/skyBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.metrics-wrapper { 
  width: 100vw; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petz-type-container { 
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.petz-type { 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 250px;
  height: 150px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px 2px rgba(10, 10, 10, 0.7);
  margin: 50px;
 
}

.emblem { 
  position: absolute; 
  max-width: 100px;
  top:-50px;
  right: -40px;
}

.metric-pet { 
  position: absolute; 
  max-width: 150px;
  top:-100px;
  left: -60px;
}

.petz-type h3 { 
  font-size: 3rem;
}

.petz-type a { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 0px 0px 14px 14px;
  background-color: black;
  color: white;
}

.petz-type a:hover { 
  cursor: pointer;
  background-color:rgba(20, 20, 20, 0.7);
  transition: .6s ease-in-out;
}

.fire { 
  background: rgb(221,55,55);
  background: radial-gradient(circle, rgba(221,55,55,1) 0%, rgba(236,103,62,1) 66%, rgba(252,218,70,1) 100%); 
}

.water { 
  background: rgb(55,103,221);
  background: radial-gradient(circle, rgba(55,103,221,1) 0%, rgba(62,166,236,1) 66%, rgba(70,252,225,1) 100%); 
}

.electric { 
  background: rgb(218,199,42);
  background: radial-gradient(circle, rgba(218,199,42,1) 0%, rgba(250,247,71,1) 66%, rgba(255,246,136,1) 100%); 
}

.grass { 
  background: rgb(23,119,31);
  background: radial-gradient(circle, rgba(23,119,31,1) 0%, rgba(70,163,83,1) 66%, rgba(74,186,87,1) 100%); 
}

.ice { 
  background: rgb(24,232,220);
  background: radial-gradient(circle, rgba(24,232,220,1) 0%, rgba(104,181,191,1) 66%, rgba(116,217,204,1) 100%); 
}

.combat { 
  background: rgb(150,83,23);
  background: radial-gradient(circle, rgba(150,83,23,1) 0%, rgba(194,124,63,1) 66%, rgba(167,119,90,1) 100%); 
}

.poison { 
  background: rgb(124,23,150);
  background: radial-gradient(circle, rgba(124,23,150,1) 0%, rgba(150,63,194,1) 66%, rgba(145,95,163,1) 100%); 
}

.earth { 
  background: rgb(153,102,53);
  background: radial-gradient(circle, rgba(153,102,53,1) 0%, rgba(194,135,63,1) 66%, rgba(163,128,95,1) 100%); 
}

.flying { 
  background: rgb(78,209,155);
  background: radial-gradient(circle, rgba(78,209,155,1) 0%, rgba(89,200,177,1) 66%, rgba(64,175,154,1) 100%); 
}

.psychic { 
  background: rgb(204,12,215);
  background: radial-gradient(circle, rgba(204,12,215,1) 0%, rgba(200,89,187,1) 66%, rgba(186,101,181,1) 100%); 
}

.insect { 
  background: rgb(71,215,12);
  background: radial-gradient(circle, rgba(71,215,12,1) 0%, rgba(124,186,61,1) 66%, rgba(144,186,101,1) 100%); 
}

.spirit { 
  background: rgb(67,1,113);
  background: radial-gradient(circle, rgba(67,1,113,1) 0%, rgba(158,61,186,1) 66%, rgba(105,63,121,1) 100%); 
}

/* Updates page */ 
.updates-background { 
  background-image: url("./images/skyBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.update-page-wrapper { 
  width: 100vw; 
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update-container { 
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1000px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);
  border-radius: 16px;
  padding: 10px; 
  color: rgb(207, 195, 195);
  margin-bottom: 4rem;
  box-shadow: rgba(224, 221, 221, 0.733) 0px 1px 2px, rgba(189, 185, 185, 0.07) 0px 2px 4px, 
              rgba(238, 234, 234, 0.07) 0px 4px 8px, rgba(235, 231, 231, 0.07) 0px 8px 16px, 
              rgba(224, 220, 220, 0.07) 0px 16px 32px, rgba(216, 211, 211, 0.07) 0px 32px 64px;
}

.update-petz-image { 
  position: absolute;
  max-width: 200px;
  right: 0;
  top: -80px;
}

.update-container h2 { 
  color: rgb(137, 200, 137);
  margin-bottom: 20px;
}

.emph { 
  color: rgb(137, 200, 137);
}

.list-updates-container { 
  display: flex; 
  justify-content: space-between;
  margin-top: 1rem;
  border-top: 2px solid rgb(111, 117, 111);
}

.list-update { 
  max-width: 350px;
  padding: 15px;
}

.list-update h3 { 
  color: rgba(119, 184, 245, 0.9);
}

.list-update a { 
  color: rgba(246, 219, 39, 0.6);
}

/* Team page */ 
.team-info-background { 
  background-image: url("./images/team-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.team-wrapper { 
  width: 100vw; 
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-member-container { 
  display: flex;
  max-width: 1000px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);
  border-radius: 16px;
  padding: 10px; 
  color: rgb(207, 195, 195);
  margin-bottom: 1rem;
  box-shadow: rgba(224, 221, 221, 0.733) 0px 1px 2px, rgba(189, 185, 185, 0.07) 0px 2px 4px, 
              rgba(238, 234, 234, 0.07) 0px 4px 8px, rgba(235, 231, 231, 0.07) 0px 8px 16px, 
              rgba(224, 220, 220, 0.07) 0px 16px 32px, rgba(216, 211, 211, 0.07) 0px 32px 64px;
}

.team-member-container img { 
  border-radius: 16px;
}

.intro-text {
  max-width: 600px;
  margin: 2rem;
  color: white;
}

.team-member-text { 
  margin: 20px; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-member-image { 
  position: relative;
}

.team-member-pet { 
  max-width: 170px;
  position: absolute;
  left: -40px;
  bottom: 10px;
}

/*Petz Page*/ 

.petz-wrapper { 
  width: 100vw; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petz-wrapper-banner { 
  position: absolute; 
  top: 0;
  box-shadow: -5px -5px 30px 5px rgb(204, 181, 78), 5px 5px 30px 5px rgb(99, 200, 141);

}

/*Stake Pool*/ 
.stake-pool-background { 
  background-image: url("./images/stakepoolbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stake-pool-wrapper { 
  width: 100vw; 
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 8rem;
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stake-pool-info-box { 
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);
  border-radius: 16px;
  padding: 10px; 
  color: rgb(207, 195, 195);
  margin-bottom: 1rem;
  box-shadow: rgba(224, 221, 221, 0.733) 0px 1px 2px, rgba(189, 185, 185, 0.07) 0px 2px 4px,
              rgba(238, 234, 234, 0.07) 0px 4px 8px, rgba(235, 231, 231, 0.07) 0px 8px 16px,
              rgba(224, 220, 220, 0.07) 0px 16px 32px, rgba(216, 211, 211, 0.07) 0px 32px 64px;
}

.stake-pool-info-box h2 { 
  margin-bottom: 2rem;
  color:rgb(99, 200, 141);
}

.stake-pool-metrics { 
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.stake-pool-metrics a {
  color:rgb(65, 155, 216);
  margin-top: 1rem;
}

.stake-pool-metrics img { 
  max-width: 400px;
  margin: 10px;
}

.stake-pool-metrics a:hover {
  cursor: pointer;
}

.staking-percentage { 
  display: flex;
  flex-direction: row;
}

/*Footer */ 

.footer { 
  position: fixed;
  bottom: 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgba(24, 24, 24, 0.6); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.7) 0%, rgba(54,53,52,0.9223472472555768) 29%);    
}

.footer img { 
  height: 100px;
}

.credits { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Loading screen */

.loading-screen { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  z-index: 20; 
  transition: 6s ease-in-out;
  background: rgb(97,185,150);
  background: linear-gradient(158deg, rgba(97,185,150,1) 0%, rgba(158,224,224,1) 60%, rgba(72,110,116,1) 100%); 
}

.egg-div img {
  max-width: 300px;
}

.egg-hatched img { 
  max-width: 300px;
}

.loading-span { 
  font-size: 1.4rem;
}

.welcome-span {
    font-size: 2rem;
}

@keyframes shake {
  0% { transform: rotate(0deg) ; }
  5% { transform: rotate(-7deg) ; }
  10% { transform: rotate(0deg); }
  15% { transform: rotate(6deg); }
  20% { transform: rotate(2deg); }
  25% { transform: rotate(7deg); }
  30% { transform: rotate(-3deg); }
  40% { transform: rotate(2deg); }
  50% { transform: rotate(-6deg); }
  60% { transform: rotate(7deg); }
  70% { transform: rotate(-8deg); }
  80% { transform: rotate(7deg); }
  90% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.egg-wobble { 
  animation: shake 8s ease-in-out;
}


