@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Gluten', cursive;
}


/*Navigation menu */ 
.nav-bar { 
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgba(24, 24, 24, 0.5); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);    

}

.nav-bar img { 
  height: 150px;
  margin-left: 20px;
}

.nav-links { 
  margin: 5px;
}

.nav-links a { 
  margin: 10px;
  padding: 5px;
  text-shadow: 1px 2px 1px black;
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  
}

.nav-links a:hover { 
  color:rgb(81, 82, 81);
  cursor: pointer;
  transition: .7s ease;
}

.socials-twitter { 
  margin: 20px;
}

.socials-twitter:hover { 
  color:rgb(53, 132, 206);
  transition: .4s ease;
  cursor: pointer;
}

/*Landing page*/

.page-wrapper { 
  height: 100vh;
  width: 100vw; 
  background-color: rgba(17, 16, 16, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-body { 
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shadow-box { 
  box-shadow: 2px 2px 2px black;
  height: 2px;
}

.body-grass { 
  background-image: url(./images/grass.jpg);
}

.body-fire { 
  background-image: url(./images/lava.jpg);
}

.body-ice { 
  background-image: url(./images/ice.jpg);
}

.body-lightning { 
  background-image: url(./images/storm.jpg);
}

.body-water { 
  background-image: url(./images/water.jpg);
}

.body-dojo { 
  background-image: url(./images/dojo.jpg);
}

.landing-pet img { 
  width: 800px; 
}

.landing-pet { 
  position: relative;
}

.landing-text-balloon { 
  position: absolute;
  background-color: rgba(250, 249, 249, 0.6); 
  left: -220px;
  top: -50px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 6px 6px rgba(22, 22, 22, 0.3);
  padding: 25px;
}

.landing-title { 
  font-size: 4rem;
}

.landing-text { 
  max-width: 300px;
  font-size: 1.5rem;
}

/*Game Info Page*/

.game-info-background { 
  background-image: url("./images/mountain-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.game-info-background h1 { 
  margin-top: 280rem;
  font-size: 6rem;
  color: white;
}

.project { 
  opacity: 0; 
  transition: 1s ease-in-out;
}

.project.active { 
  opacity: 1;
  transition: 1s ease-in-out;
}
.attributes-container { 
  position: relative;
  margin-bottom: 7rem;
}
.arrow { 
  position: absolute;
  bottom: -60px;
  color: rgba(214, 138, 16, 0.6);
}

.arrow:hover { 
  cursor: pointer;
  transition: .4s ease-in-out;
  transform: scale(0.95);
  color: rgba(250, 194, 104, 0.6);
}

.arrow-left { 
  left: 200px;
}

.arrow-right { 
  right: 200px;
}

.game-info-wrapper { 
  width: 100vw;
  height: 100vh; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.game-intro { 
  margin: 4rem;
  text-align: center;
  max-width: 800px;
  color: white;
}

.attribute-layout{ 
  display: flex;
  justify-content: center;
}

.roadmap-layout { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.roadmap-layout img { 
  max-width: 1000px;
  border-radius: 16px;
}

.attribute-info { 
  color: white;
}

.attribute-info-roadmap { 
  max-width: 800px;
  margin-bottom: 3rem;
}

.attribute-info h2 { 
  color: rgba(223, 160, 59, 0.6);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.attribute-layout div { 
  max-width: 600px;
  margin: 50px;
}

table { 
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(32,32,32, .3);
  border-spacing: 0;
  border-collapse: collapse;
}

.table-header th{ 
  background-color: black;
  color: white;
  padding: 20px;
}

.table-very-common { 
  background-color: rgba(162, 167, 157, 0.6);
}
.table-common { 
  background-color: rgba(216, 224, 216, 0.6);
}
.table-uncommon { 
  background-color: rgba(130, 185, 130, 0.6);
}
.table-scarce { 
  background-color: rgba(151, 180, 235, 0.6);
}
.table-rare { 
  background-color: rgba(79, 119, 194, 0.6);
}
.table-epic { 
  background-color: rgba(130, 22, 192, 0.6);
}
.table-extremely-rare { 
  background-color: rgba(192, 128, 192, 0.6);
}
.table-ultra-rare { 
  background-color: rgba(212, 199, 120, 0.6);
}
.table-legendary{ 
  background-color: rgba(214, 138, 16, 0.6);
}

.table-even { 
  background-color: rgba(94, 144, 156, 0.6);
}

.table-odd { 
  background-color: rgba(91, 223, 172, 0.6);
}

td { 
  padding: 8px;
  text-align: center;
}

.petz-row { 
  box-shadow: -5px -5px 30px 5px rgb(204, 181, 78), 5px 5px 30px 5px rgb(99, 200, 141);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4rem 0  4rem 0;
}

.petz-row img { 
  max-height: 200px;
}

.egg-row { 
  margin-bottom: 10rem;
}

/*Footer */ 
.footer { 
  position: absolute;
  bottom: 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgba(24, 24, 24, 0.5); 
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 0%, rgba(54,53,52,0.7223472472555768) 29%);    
}

.footer img { 
  height: 100px;
}

.credits { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}